img{
    height: 150px;
    width: 150px;
}

body{
    position: center;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0dc8bef0-dbbf-459f-95c5-e62f2e842e36/d4f1lcq-729da2f1-682f-4e9b-9f0c-b202d25ca7bf.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzBkYzhiZWYwLWRiYmYtNDU5Zi05NWM1LWU2MmYyZTg0MmUzNlwvZDRmMWxjcS03MjlkYTJmMS02ODJmLTRlOWItOWYwYy1iMjAyZDI1Y2E3YmYucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.FTKCVxNC8Sut6-wg0hGng41PMVepH8sj0F5Z-fH50fk);
    background-size: cover;
}

p{
    color: white;
}

h1{
    color: white;
}

h2{
    color: white;
}

h3{
    color: white;
}

.col-3{
    color: white;
}

